.env
__pycache__

**/build/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
**/.DS_Store
**/.atom/
**/.buildlog/
flutterapp/.history
flutterapp/.svn/
flutterapp/migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
flutterapp/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
flutterapp/.dart_tool/
flutterapp/.flutter-plugins
flutterapp/.flutter-plugins-dependencies
flutterapp/.pub-cache/
flutterapp/.pub/
**/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
flutterapp/android/app/debug
flutterapp/android/app/profile
flutterapp/android/app/release
